<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>Finding Home</title>

    <!-- Bootstrap core CSS -->
    <link href="http://panzoto.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://panzoto.com/stylefiles/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- one page scroll js>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="jquery.onepage-scroll.js"></script>
  <link href='onepage-scroll.css' rel='stylesheet' type='text/css'>
  <script>
    $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        loop: true,
        responsiveFallback: false
      });
    });

  </script>
  <!-->

  </head>

  <body>
  
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">FINDING HOME</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#home">Home</a></li>
                  <li><a href="#">Analysis</a></li>
                  <li><a href="#search">Search</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="main">
          <section class="page1">
          <div class="Home" id="home">
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="cover-heading"><b>FINDING YOUR DREAM HOME IN NEW YORK CITY</b></h1>
          

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
          </section>

          <div class="Search" id="search">
            <br><br><br><br><br><br><br><br><br><br>
            <h1 class="cover-heading">Your dream home should be:</h1><br>
                <form id='input' method='post' action='index'>

                <p> <b>Budget</b> &nbsp;<input type='text' name='budget_upper' placeholder="200000" /> &nbsp;&nbsp;
                    <b>Year built after</b> &nbsp;<input type='text' name='built' placeholder="1920" /></p> 
                <P> <b>Food preference</b> &nbsp;<input type='text' name='food' placeholder="Chinese" />&nbsp;&nbsp;
                    <b>Cuisine importance</b> &nbsp;<input type='text' name='food_level' placeholder="1-10, 1 for more imporant" /></p> 
                <p> <b>Interests</b> &nbsp;<input type='text' name='interests' placeholder="bicycle" /> &nbsp;&nbsp;
                    <b>School grade</b> &nbsp;<input type='text' name='school' placeholder="1-10, higher the better" /></p> 
                
                <br>    
                <p><input type="submit" value="Submit" class="btn btn-lg btn-default">
                </p>

            <br><br><br><br><br><br><br><br><br><br><br>
          </div>
          </section>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://panzoto.com/dist/js/bootstrap.min.js"></script>

  </body>
</html>
